*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: #181419;
    color: white;
}

/* Header */
.header{
    background-color: #9f3647;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;

        }

        .listaNav{
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem{
                margin-right: 20px;

                .linkNav{
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    /* Agregar efecto de boton presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
                }
                /* Boton iniciar sesion */
                .linkNav.iniciarSesion{
                    background-color: #181419;
                    color: white;
                    border-radius: 5px;

                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        background-color: #9f3647;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

}


.main{
    .sectionPrincipal{
        color: white;
        background-image:linear-gradient(to right top, #0000008a,#0000008a), url("../assets/images/banner-bg.jpg");
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .subtituloPrincipal{
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .botonRegistrarse{
            background-color: #9f3647;
            color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;

            transition: transform 0.3s,box-shadow 0.3s;

            &:hover{
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            }
        }
    }

    .buscadorPrincipal{
        background-color: #181419;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tituloSection{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .buscadorPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            .inputBuscador{
                height: 50px;
                width: 500px;
                padding: 0px 20px;
                margin: 20px 10px;
                font-size: 1.2rem;
                border: 2px solid white;
                border-radius: 25px;
                outline: none;

            }

            .botonBuscador{
                background-color: #9f3647;
                color: #ffffff;
                display: inline-block;
                height: 50px;
                margin: 20px 10px;
                padding: 0 20px;
                border-radius: 25px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;

                transition: transform 0.3s, box-shadow 0.3s;

                &:hover{
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
}


/* Footer */
footer {
    background-color: #9f3647;
    padding: 0px;
	margin:0px;
}
.contenedor-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #9f3647;
}
a.footer-link {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
a.footer-link:visited {
    color: white;
}


/* Styles for header mobile small */
@media (max-width: 477px) {
    .header {
        height: initial;
    }
    .header .navegacion {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        row-gap: 20px;
    }
    .header .navegacion .anclaLogo {
        font-weight: 700;
        font-size: 1.2rem;
    }
    .header .navegacion .listaNav {
        padding: initial;
    }
    .header .navegacion .listaNav .listaItem .linkNav {
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;
    }
/* SECCION PRINCIPAL MAX 477PX*/	

	body .main .sectionPrincipal {
		height: 40vh;
	}

	body .main .sectionPrincipal .tituloPrincipal {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 1rem;
		color:;
	}
	body .main .sectionPrincipal .subtituloPrincipal {
		font-size: 1.5rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}

	body .main .sectionPrincipal .botonRegistrarse {
		padding: 0.6rem 1rem;
		border-radius: 5px;
		font-size: 1rem;
		font-weight: 400;
		
	}

/*BUSCADOR PRINCIPAL MAX 477PX*/

	body .main .buscadorPrincipal .tituloSection{
		font-size: 1.3rem;
		padding-top:10px;
		margin-bottom:0px;
	}
	
	body .main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
		width: 60%;
		height: 30px;
		padding: 0px 10px;
		margin: 0px 10px;    
	}
	body .main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
		margin: 10px 10px;
		padding: 0 20px;
		border-radius: 25px;
		height: 30px;
    }

	body .main .buscadorPrincipal {
		height: 15vh;
	}

	/*footer a 477px*/
	footer {
        background-color: #9f3647;
        padding: 0px; 
    }
		.contenedor-footer {
			justify-content: center;
			align-items:flex-start;
		}
		a.footer-link {
			margin: 0 5px; 
		}
	
}/*FIN MEDIAQUERIES 477PX*/

/* Styles for header mobile and tablet */
@media screen and (min-width: 478px) and (max-width: 768px) {
    .header {
        height: initial;
    }
    .header .navegacion {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        row-gap: 20px;
    }
    .header .navegacion .anclaLogo {
        font-weight: 700;
        font-size: 1.2rem;
    }
    .header .navegacion .listaNav {
        padding: initial;
    }
    .header .navegacion .listaNav .listaItem .linkNav {
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;
    }
	
	/* SECCION PRINCIPAL A 478PX HASTA 768PX*/	
	
	body .main .sectionPrincipal {
		height: 80vh;
	}

	
	body .main .sectionPrincipal .tituloPrincipal {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 1rem;
		color:;
	}
	body .main .sectionPrincipal .subtituloPrincipal {
		font-size: 1.6rem;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	
	body .main .sectionPrincipal .botonRegistrarse {
		padding: 0.8rem 1rem;
		font-size: 1.1rem;
		font-weight: 400;
		
	}
	/*BUSCADOR PRINCIPAL A 478PX HASTA 767PX */

	body .main .buscadorPrincipal {
		height: 28vh;
	}
	body .main .buscadorPrincipal .tituloSection{
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}
	
	body .main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
		width: 60%;
		height: 30px;
		padding: 0px 10px;
		margin: 0px 10px;    
	}
	body .main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
		margin: 10px 10px;
		padding: 0 10px;
		border-radius: 25px;
		height: 30px;
    }
	
	
}/*FIN MEDIAQUERIES 478 ~ 768PX*/
